/* Responsive layout - when the screen is less than 400px wide,
make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  /* .topnav a {
    float: none;
    width: 100%;
  } */
}

body {
  background: linear-gradient(120deg, rgb(205, 173, 235), rgb(129, 61, 192));
  background-repeat:no-repeat;
  height: 100vh;
}







