.game-over-screen {
  text-align: center;
}

.header {
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 12px;
}

#results-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.results-flex-item {
  justify-content: center;
}
.li {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

.data-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
}
.data-flex-item {
  
  justify-content: center;
}
