
#inputs-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
}
.inputs-flex-item {
  margin: 20px;
}

.grace-period-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.grace-period-item {
}
.grace-period-toggle {
  /* margin-left: auto; */
  margin: 20px;

  /* justify-self: flex-end; */
  /* position: absolute; */
}


.players-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.players-flex-item {
  /* justify-content: center; */
  margin: 20px;
}
/* DND DRAG-N-DROP*/
/* body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
} */
.dnd {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 75%;
}
.dnd li {
  display: flex;
  /* align-items: center; */
  justify-content: space-around;
  cursor: move;
  background-color: #4892d8; /* inital color */
  color: white;
  padding: 10px;
  margin-bottom: 5px;
  transition: all 0.2s;
}
.dnd li:hover {
  background-color: goldenrod!important; /* lighter ver. inital color */

}

/* Icons */
.delete-player-icon {
  color: white;
  cursor: pointer;
  transition: all 0.5s linear;
}
.delete-player-icon:hover {
  color: black;
  transform: scale(1.5)
}

